In [1]:
import sys
import os

In [2]:
ned_path = r'/users/jhzhe/Cloned_Repos/MPhys-Project/output_data/ned_search/'
data_path = [os.path.join(ned_path, csv) for csv in os.listdir(ned_path) if csv.endswith(".csv")]

In [3]:
data_path

['/users/jhzhe/Cloned_Repos/MPhys-Project/output_data/ned_search/NED_139977_2910365.csv']

In [4]:
import pandas as pd
pd.read_csv(data_path[0])

           ra        dec     date           event
0  112.287697 -33.583799  60599.0  139977_2910365
1  112.329624 -32.671472  60599.0  139977_2910365
2  112.546331 -32.705725  60599.0  139977_2910365

In [6]:
for i in data_path:
    df = pd.read_csv(i)
    print(df)

           ra        dec     date           event
0  112.287697 -33.583799  60599.0  139977_2910365
1  112.329624 -32.671472  60599.0  139977_2910365
2  112.546331 -32.705725  60599.0  139977_2910365